.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 16px;
    --tw-shadow-color: #273444;
  }
  
  .score {
    font-size: 1.25em;
    margin: 12px 0;
    fontWeight: bold;
  }
  
  .drop-zones {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    

  }
  
  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px;
  }

  .draggable-item {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: move;
    
  }
  
  .draggable-item img {
    max-width: 100%;
    max-height: 100%;
  }

  .drop-zone {
    width: 200px;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7849;
  }
  
  .drop-zone.highlight {
    border-color: #ff49db;
    background-color: #7e5bef;
  }
  
  
  